<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
      const currentUrl = new URL(document.location.href);
      if (currentUrl.host === 'maxim-blog.ghost.io') {
      currentUrl.host = 'www.getmaxim.ai';
      currentUrl.pathname = '/blog' + currentUrl.pathname;
      document.write('<!DOCTYPE html><html><head><title>Redirecting...</title></head><body></body></html>');
      window.location.replace(currentUrl.toString());      
      }
    </script>
    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}} is-head-{{#match @custom.navigation_layout "Logo on the left"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}{{#is "tag"}}{{#if tag.feature_image}} is-head-transparent{{/if}}{{/is}}{{#match @custom.header_style "Accent color"}} is-head-brand{{/match}}{{#match @custom.header_style "Dark"}} is-head-dark{{/match}}">
<div class="gh-site">

    <header id="gh-head" style="position: sticky; top: 0; z-index: 50;">

         <div
            data-animation="default"
            data-collapse="medium"
            data-duration="400"
            data-easing="ease"
            data-easing2="ease"
            role="banner"
            class="navbar w-nav"
            >
            <div class="nav-container w-container">
                <a href="https://www.getmaxim.ai/" aria-current="page" class="brand-logo brand-logo-nav w-nav-brand w--current" aria-label="home"></a>
                <nav role="navigation" class="top-navmenu w-nav-menu desktop-navigation">
                <a href="https://www.getmaxim.ai/pricing" class="navlink w-nav-link" style="max-width: 1200px">Pricing</a
                ><a href="https://www.getmaxim.ai/careers" class="navlink w-nav-link" style="max-width: 1200px">Careers</a
                ><a href="https://www.getmaxim.ai/blog" class="navlink wx-nav-link w--current nav-link-active" style="max-width: 1200px">Blog</a
                ><a href="https://www.getmaxim.ai/docs/" class="navlink w-nav-link" style="max-width: 1200px">Docs</a>
                <div class="separator"></div>
                <a href="https://app.getmaxim.ai/login" class="navlink w-nav-link" style="max-width: 1200px">Sign in</a
                ><a href="https://app.getmaxim.ai/sign-up" class="navlink-btn navlink-btn-fill w-nav-link" style="max-width: 1200px"
                    >Get started free</a
                ><a href="https://www.getmaxim.ai/demo" class="navlink-btn navlink-btn-border w-nav-link" style="max-width: 1200px">Book a demo</a>
                </nav>
                <nav role="navigation" class="top-navmenu w-nav-menu mobile-navigation">
                <input type="checkbox" id="mobile-menu-toggle" class="menu-toggle" />
                <label for="mobile-menu-toggle" class="menu-icon"></label>
                <div class="menu-items" style="background: #FFF;">
                    <a href="https://www.getmaxim.ai/pricing" class="navlink w-nav-link">Pricing</a>
                    <a href="https://www.getmaxim.ai/careers" class="navlink w-nav-link">Careers</a>
                    <a href="https://www.getmaxim.ai/blog" class="navlink wx-nav-link w--current nav-link-active">Blog</a>
                    <a href="https://www.getmaxim.ai/docs/" class="navlink w-nav-link">Docs</a>
                    <div class="separator"></div>
                    <a href="https://app.getmaxim.ai/login" class="navlink w-nav-link">Sign in</a>
                    <a href="https://app.getmaxim.ai/sign-up" class="navlink-btn navlink-btn-fill w-nav-link">Get started free</a>
                    <a href="https://www.getmaxim.ai/demo" class="navlink-btn navlink-btn-border w-nav-link">Book a demo</a>
                </div>
                </nav>
            </div>
            <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
            </div>
    </header>

    {{{body}}}

    <footer >
       <div class="section-enterprise" style="margin-top:64px">
            <section class="section-footer" style="">
                <div class="w-layout-blockcontainer container w-container">
                  <div class="strip-wrapper ptblr">
                    <div class="strip-box">
                      <div class="strip-left">
                        <div class="strip-top-row">
                          <h3 class="h3 dark semibold mb16">Ship your AI agents 5x faster ⚡️</h3>
                          <div class="benefits-title-subtext">Get in touch to learn how AI teams are saving 100s of hours of development time<br></div>
                        </div>
                        <div class="strip-bottom-row-v2">
                          <a href="https://app.getmaxim.ai/sign-up" class="button-dark-icon w-button">Get started free</a>
                          <a href="https://www.getmaxim.ai/demo" class="button-dark-border w-button">Book a demo</a>
                        </div>
                      </div>
                      <div class="strip-right">
                        <a href="https://youtube.com/watch?v=qtDJcNwSn_s?si=EetbhiTd-9TwbpDR" target="_blank" class="strip-right-img-lightbox w-inline-block w-lightbox"><img src="https://cdn.prod.website-files.com/665ab0daac869acad030a349/679738aa9d67032ec8ccc244_video-img.svg" loading="eager" alt="" class="strip-right-img">
                        </a>
                      </div>
                    </div>
                  </div>
                <div class="footer-wrapper">
                    <div class="footer-left">
                    <div class="footer-left-top"><img src="https://cdn.prod.website-files.com/665ab0daac869acad030a349/666c450d9d94389d4219bf75_logo-white.svg" loading="lazy" alt="" class="footer-logo">
                        <div class="copyright-text">© Copyright H3 Labs Inc, All rights reserved.</div>
                    </div>
                    <div class="div-block-2"><img src="https://cdn.prod.website-files.com/665ab0daac869acad030a349/66fe99bae027e906828812ed_21972-312_SOC_NonCPA.png" width="64px" height="64px"  loading="lazy" alt="" class="image-3"><img src="https://cdn.prod.website-files.com/665ab0daac869acad030a349/66fe9aa86579ed03ca44fde2_PNG_GDPR-e1672263252689.png" loading="lazy" width="64px" height="64px" srcset="https://cdn.prod.website-files.com/665ab0daac869acad030a349/66fe9aa86579ed03ca44fde2_PNG_GDPR-e1672263252689-p-500.png 500w, https://cdn.prod.website-files.com/665ab0daac869acad030a349/66fe9aa86579ed03ca44fde2_PNG_GDPR-e1672263252689.png 1574w" alt="" class="image-4"><img src="https://cdn.prod.website-files.com/665ab0daac869acad030a349/6703769213e45e2379621c47_ISO%2027001.png" loading="lazy" width="64px" height="64px" alt="" class="image-5"><img src="https://cdn.prod.website-files.com/665ab0daac869acad030a349/674059445b7e5f0567d4aa54_image%20(15).png" loading="lazy" alt="" class="hippa"/></div>
                    <div class="footer-badge-box"></div>
                    <div class="footer-left-bottom"><a href="https://x.com/getmaximai" target="_blank" class="footer-social-link twitter w-inline-block"></a><a href="https://www.linkedin.com/company/maxim-ai" target="_blank" class="footer-social-link linkedin w-inline-block"></a></div>
                    </div>
                    <div class="footer-right">
                    <div class="footer-link-box">
                        <div class="footer-link-title">Product</div>
                        <a href="https://www.getmaxim.ai/#features" class="footer-link" target="_blank">Features</a>
                        <a href="https://www.getmaxim.ai/pricing" class="footer-link">Pricing</a>
                        <a href="https://www.getmaxim.ai/blog"  class="footer-link">Blog</a>
                        <a href="https://www.getmaxim.ai/docs"  class="footer-link">Docs</a>
                        <a href="https://status.getmaxim.ai/" target="_blank" class="footer-link">Status</a>
                    </div>
                    <div class="footer-link-box">
                        <div class="footer-link-title">Company</div>
                        <a href="https://www.getmaxim.ai/careers" class="footer-link">Careers</a>
                        <a href="https://www.getmaxim.ai/contact" class="footer-link">Contact us</a>
                    </div>
                    <div class="footer-link-box">
                        <div class="footer-link-title">Legal</div>
                        <a href="https://www.getmaxim.ai/terms-of-service" class="footer-link" >Terms</a>
                        <a href="https://www.getmaxim.ai/privacy-policy" class="footer-link" >Privacy</a>
                    </div>
                    </div>
                </div>
                </div>
            </section>
        </div>
    </footer>

</div>

{{#is "post, page"}}
    {{> "pswp"}}
{{/is}}

<script src="{{asset "built/main.min.js"}}"></script>

{{ghost_foot}}

<!-- Start Intercom -->

<script>
  window.intercomSettings = {
    api_base: "https://api-iam.intercom.io",
    app_id: "glx5mihe",
    hide_default_launcher: false,
  };
</script>


<script>
  // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/glx5mihe'
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/glx5mihe';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>

<!-- Start Intercom -->

</body>

</html>
